
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Audiowide&family=Geo:ital@0;1&display=swap');

/*header and body code*/
header{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

html{
  scroll-behavior: smooth;
}

header > h1
{
    font-family: "Audiowide", "Garamond", sans-serif,serif;
    font-style: normal;
    font-weight: 400;
    color:#0d0d0d;
}
main > h1, h2
{

    font-family: "Anta", Garamond, sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    color:#0d0d0d;
}


/* navigation designing*/

ul.nav li {
    display: inline-block; 
    margin-right: 20px;    
  }
  
  ul.nav li a {
    color: #0d0d0d;          
    padding: 10px 20px;      
    display: block;
    font-size: 18px;           
  }
 
  ul.nav li a:visited {
    color:#8c8c8c; 
  }
    ul.nav li a:hover {
    background-color:#404040; 
    color:#fefcfc
  }
  .nav-box
  {
    width: 70%;
    margin: 0 auto;             
    padding: 10px;       
    justify-content: center;      
    align-items: center;
    text-align: center;
    max-width: 960px;
    flex-wrap: nowrap;

  }


/*general body */
#hero h1{
font-family: "Audiowide", "Garamond", sans-serif, serif;
font-weight: 400;
}
.hero-logo{
  display: flex;
  align-items:center;
  gap:5px;
}

.hero-logo h1{
  margin:0;
}

.name-icon{
  width:140px;
  height:auto;
}

main > p, h3, p, ul, table, span, h4
{
    font-family:"Anta", Arial, sans-serif,serif;
    font-weight: 400;
    font-style: normal;
    /*color:#000;*/
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

table,th,td
{
    text-align: center;
    align-items: center;
    font-size: 14px;
    border:1px solid #924BA6;
    padding: 5px ;
    
}
figcaption
{
    text-align: center;
    font-family: "Anta", Arial, sans-serif,serif;;
}
.center-text
{
    text-align: center;
}

.technical-stack-grid, .learning-stack-grid{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px 10px;
}
.stack-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.stack-item > i{
  font-size: 5em;
  color: #404040;
  transition: transform 0.2s ease, color 0.2s ease;
}
.stack-item:hover i{
  transform:scale(1.1);
  color: #0d0d0d;
}

.stack-item .level{
  font-size:0.85rem;
  opacity:0;
  transform: translateY(-5.5px);
  transition:opacity 0.2s ease, transform 0.2s ease;
}

.stack-item:hover .level{
  opacity:1;
  transform:translateY(0)
}

.card .level{
  font-size:0.85rem;
  opacity:0;
  transform: translateY(-5.5px);
  transition:opacity 0.2s ease, transform 0.2s ease;
}

.card:hover .level{
  opacity:1;
  transform:translateY(0)
}

.other-skills{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px 10px;
  border: #404040;
}
/* img,iframe
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  /* max-width:1100px; */
  margin: 0 auto;
}

.about-me-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.text-wrapper{
  flex: 1;
  max-width: 65%;
}

.image-wrapper{
  max-width: 100%;
  height: auto;
  display: block;
  padding-right: 60px;
}
.extra-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 2px;
  justify-content: stretch;
}


section > h3, h4, p{
  padding: 15px;
  margin: 10px;
}
#hero, #stack, #extras{
  background-color: #fefcfc;
  color: #404040;
}

#about-me, #projects, #contact >h2, #contact,
#about-me >h2, #projects>h2{
  background-color: #0d0d0d;
  background-size: cover;
  color: #f2f2f2;
}

#projects .extra-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: stretch;     
} 
 

.card{
  width: 100%;
  max-width: 325px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow:0px 2px 4px #8c8c8c;
  margin: 20px; 
}

#projects .card {
  width: 100%;
  max-width: 325px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow:0px 2px 4px #fefcfc;
  margin: 20px;
}


.card img{
  width: 100%;
  height: auto;
}


/* general links*/
a,
a:link{
  color:#404040
}

a:visited{
  color:#fefcfc
}

a:hover{
    color:#8c8c8c
}

a:active{
    color:#0d0d0d}

#contact a:link{
  color: #f2f2f2;
}
#contact a:hover{
  color:#8c8c8c;
}






























/*Adobe color color swatches*/

/* Color Theme Swatches in Hex */
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-1-hex { color: #A60A53; }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-2-hex { color: #D90D7D; }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-3-hex { color: #F250D7; }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-4-hex { color: #924BA6; }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-5-hex { color: #98F257; }

/* Color Theme Swatches in RGBA */
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-1-rgba { color: rgba(165, 9, 82, 1); }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-2-rgba { color: rgba(216, 13, 125, 1); }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-3-rgba { color: rgba(242, 79, 215, 1); }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-4-rgba { color: rgba(145, 74, 165, 1); }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-5-rgba { color: rgba(151, 242, 87, 1); }

/* Color Theme Swatches in HSLA */
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-1-hsla { color: hsla(331, 88, 34, 1); }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-2-hsla { color: hsla(326, 88, 45, 1); }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-3-hsla { color: hsla(309, 86, 63, 1); }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-4-hsla { color: hsla(286, 37, 47, 1); }
.A-vibrant-table-of-retro-items-from-the-y2k-era,-adorned-with-magenta-and-pink-accents,-evoking-feelings-of-nostalgia-and-whimsy,-set-against-a-purple-wall-covered-in-playful-text-5-hsla { color: hsla(95, 85, 64, 1); }
